<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'
a=[]

In [6]:
# print the value of a
print (a)

[]

In [5]:
# print the type of a
print (type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [45]:
languages=['R','Python','SAS','Scala',42]
print(languages)

['R', 'Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [46]:
n=len(languages)
print(n)

5

Using for loop iterate and print all the elements in the list

In [47]:
for lang in languages:
    print(lang)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [48]:
print (languages[1])
temp=languages[1]

Python

Print the value of temp and type(temp)

In [49]:
print(temp)

Python

Append the element 'Java' in the list

In [30]:
languages.append('Java')
print(languages)

['R', 'Python', 'SAS', 'Scala', '42', 'Java']

Remove the element 42 from the list and print the list

In [50]:

languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [93]:
colors=['Red','Blue','White']
print(colours)

['Red', 'Blue', 'White', 'Black']

Append the element 'Black' to colors

In [94]:

colors.append('Black')
print(colours)

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [95]:

colors.insert(1,'Orange')

Print the list

In [96]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [87]:
colors2=['Grey','Sky','Blue']
print(colors2)

['Grey', 'Sky', 'Blue']

Add the elements of colors2 to colors using extend function in the list

In [88]:
colors.append(colors2)
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black', ['Grey', 'Sky', 'Blue']]

Print len of colors and its elements

In [90]:
L=len(colors)
print(L)

6

Sort the list and print it.

In [99]:
colors.sort()
print(colors)

['Black', 'Blue', 'Orange', 'Red', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [7]:
sent = "Coronavirus Caused Lockdowns Around The World."
print(sent)

Coronavirus Caused Lockdowns Around The World.

Use split function to convert the string into a list of words and save it in variable words and print the same

In [8]:
words=sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [2]:
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [3]:
countrypresent = 'country' in words_lower
print(countrypresent)

False

Remove the element ‘the’ from the list and print the list.

In [10]:
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [11]:
x4=words_lower[:4]

In [12]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [13]:
string=''.join(words_lower)
print(string)

coronaviruscausedlockdownsaroundworld.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [42]:
stud_grades=['A','A','B','C','C','F']
print (stud_grades)

['A', 'A', 'B', 'C', 'C', 'F']

Print the len of stud_grades

In [43]:
print (len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [3]:
stud_grades = ['A', 'A', 'B', 'C', 'C', 'F']

# Create a new variable that holds the set of unique grades
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [4]:
# Print the set of unique grades
print(stud_grades_set)

{'C', 'B', 'A', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [5]:
print (type(stud_grades))
print (type(stud_grades_set))

<class 'list'>
<class 'set'>

Add a new element ‘G’ to stud_grades_set

In [7]:
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [8]:
stud_grades_set.add('F')
print(stud_grades_set)

{'G', 'C', 'A', 'F', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [9]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [10]:
print(len(stud_grades_set))

4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [12]:
colors= ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [14]:
print (colors)
print (fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [16]:
color_set=set(colors)
fruits_set=set(fruits)

Find the union of both the sets.

In [21]:
union_set = color_set | fruits_set
print( union_set)

{'blue', 'grapes', 'orange', 'red', 'apples'}

Find the intersection of both the sets

In [20]:
intersection = color_set & fruits_set
print( intersection)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [23]:
fruits_not_colors = fruits_set.difference(color_set)
print(fruits_not_colors)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [47]:
temp=(17,'virat',50.0)

Iterate through temp and print all the items in temp

In [48]:
for x in temp:
    print(x)

17
virat
50.0

replace first element with 11 in temp

In [49]:
new_temp = (11,) + temp[1:]

print(new_temp)

(11, 'virat', 50.0)

Set temp1 = tuple(temp)

In [51]:
temp1 = tuple(temp)


print( temp1)

(17, 'virat', 50.0)

Iterate through temp1 and print all the items in temp1.

In [52]:
for y in temp1:
    print(y)

17
virat
50.0

replace first element with 17 in temp1

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [54]:
city=("bangalore",28.9949521,72)

Print first element of city

In [57]:
print (city[0])

bangalore

Create city2 = (‘Chennai’, 30.01, 74)

In [58]:
city2=('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [59]:
cities = city + city2

('bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print cities

In [60]:
print(cities)

('bangalore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [62]:
print (type(cities[0]))

<class 'str'>

print the type of cities

In [63]:
print (type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [64]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [66]:
print (d[0])

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [68]:
actor = d['actor']

print(actor)

amir

Print the type of actor

In [69]:
print(type(actor))

<class 'str'>

Store the value of d[‘list’] in new variable List.

In [70]:
lists=d['list']
print(lists)

[23, 32, 12]

Print the type of List.

In [72]:
print(type(lists))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [73]:
d1 = { 'singer' : 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Merge d1 into d.

In [74]:
d = d | d1

print d

In [75]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [78]:
print (d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [79]:
print (d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [80]:
for key, value in d.items():
    print(f"({key} {value})")

(actor amir)
(animal cat)
(earth 2)
(list [23, 32, 12])
(singer Kr$na)
(album Still here)
(genre hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [82]:
sent = "Coronavirus Caused Lockdowns Around The World."
print(sent)
char_count = {}

# Iterate over each character in the string
for char in sent:
    # Ignore spaces (or you can include them if desired)
    if char != ' ':
        if char in char_count:
            char_count[char] += 1  # Increment count if character already exists
        else:
            char_count[char] = 1   # Initialize count to 1 if character is new

# Print the character counts
for char, count in char_count.items():
    print(f"{char} --> {count}")

Coronavirus Caused Lockdowns Around The World.
C --> 2
o --> 6
r --> 4
n --> 3
a --> 2
v --> 1
i --> 1
u --> 3
s --> 3
e --> 2
d --> 4
L --> 1
c --> 1
k --> 1
w --> 1
A --> 1
T --> 1
h --> 1
W --> 1
l --> 1
. --> 1